MONGO_URI=mongodb://127.0.0.1:27017/agentichub
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_ROUTER_MODEL=gemini-2.5-flash
TAVILY_API_KEY=
PORT=3000
CONTEXT_WINDOW_SIZE=10
OLLAMA_ROUTER_URL=
OLLAMA_ROUTER_MODEL=llama3
PISTON_URL=http://127.0.0.1:2000
PGVECTOR_URL=postgres://postgres:academy@127.0.0.1:5432/academy
